@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/jetbrains-mono/jetbrains-mono-0.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(/fonts/jetbrains-mono/jetbrains-mono-1.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(/fonts/jetbrains-mono/jetbrains-mono-2.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/jetbrains-mono/jetbrains-mono-3.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(/fonts/jetbrains-mono/jetbrains-mono-4.ttf) format('truetype');
}
