@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(/fonts/poppins/poppins-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/poppins/poppins-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(/fonts/poppins/poppins-2.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(/fonts/poppins/poppins-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/poppins/poppins-4.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(/fonts/poppins/poppins-5.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(/fonts/poppins/poppins-6.ttf) format('truetype');
}
